<div *ngIf="avis">
    <h1>Avis</h1>

    <div class="formulaire">
        <form [formGroup]="formulaire" (ngSubmit)="validateForm()">
            <input class="invisible" formControlName="id" placeholder="id" required />
            <mat-form-field>
                <mat-label>Utilisateur</mat-label>
				<mat-select [(value)]="selectedUser" (selectionChange)="selectUser($event.value)" required>
					<mat-option *ngFor="let u of usersv" [value]="u.id">
                        {{u.nom}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Application</mat-label>
				<mat-select [(value)]="selectedApp" (selectionChange)="selectApp($event.value)" required>
					<mat-option *ngFor="let a of appsv" [value]="a.id">
                        {{a.nom}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="date" placeholder="Date de l'avis" required />
                <mat-error *ngIf="date.invalid && date.errors?.required">Ceci ne doit pas être vide</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="note" placeholder="note" required />
                <mat-error *ngIf="note.invalid && (note.errors?.min || note.errors?.max)">Ceci doit être compris entre 0 et 5</mat-error>
                <mat-error *ngIf="note.errors?.required">Ceci ne doit pas être vide</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="description" placeholder="description" required />
                <mat-error *ngIf="description.invalid && description.errors?.required">Ceci ne doit pas être vide</mat-error>
            </mat-form-field>
            <button type="submit" [disabled]="!formulaire.valid">Validation</button>
        </form>
    </div>
    <p>Form Value: {{ formulaire.value | json }}</p>
    <p>Form Status: {{ formulaire.status }}</p>
</div>