.app-card {
  box-sizing: content-box;
  display: inline-block;
  float: none;
  position: static;
  border-color: rgb(51, 51, 51);
  max-width: 720px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.app-card-header {
  display: table;
  vertical-align: top;
  padding: 20px;
}

.app-card-icone {
  display: table-cell;
  max-height: 180px;
  max-width: 180px;
  height: 180px;
  margin: 10px 10px;
}

.app-card-header-desc {
  display: table-cell;
  vertical-align: middle;
}

.app-card-header-desc2 {
  display: table;
}

.app-card-titre {
  display: table-row;
  width: 200px;
  line-height: 2em;
}

.app-card-corp {
  display: table-row;
  width: 200px;
  line-height: 2em;
}

.app-card-note {
  display: table-row;
  width: 200px;
  line-height: 2em;
}

.app-card-content {
  display: table;
}

.app-card-screnshots {
  width: 700px;
  overflow: auto;
}

.app-card-screnshots div {
  display: table-cell;
  padding-right: 10px;
}

.app-card-un-screnshot {
    width: 90%;
}

.app-card-description {
  margin: 15px;
  width: 90%;
}

.app-card-bottom {}
