<h2>Avis</h2>
<div class="btn-refresh"><button matIcon title="Rafraichit la page" class="" (click)="refreshListeAvis()"><mat-icon>refresh</mat-icon></button></div>
<div class="btn-add"><button matIcon title="Ajoute un nouvel avis" class="" (click)="addAvis()"><mat-icon>add</mat-icon></button></div>

<div class="liste-avis">

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="listeAvis" class="example-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
		   
	  <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            {{element.description}}
          </div>
        </div>
      </td>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>
</div>

