<h2>Avis</h2>
<div class="btn-refresh"><button matIcon title="Rafraichit la page" class="" (click)="refreshListeAvis()"><mat-icon>refresh</mat-icon></button></div>
<div class="btn-add"><button matIcon title="Ajoute un nouvel avis" class="" (click)="addAvis()"><mat-icon>add</mat-icon></button></div>

<div class="liste-avis" *ngIf="done">
  <table mat-table [dataSource]="listeAvisV" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
	  <div *ngIf="column !== 'Action'">
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
	  </div>
	  <div *ngIf="column === 'Action'">
        <td mat-cell *matCellDef="let element">
  	      <button matIcon title="édite l'avis" class="btn-update-app" (click)="editAvis(element)" color="primary"><mat-icon>edit</mat-icon></button>
          <button matIcon title="détruit l'avis" class="btn-delete-app" (click)="deleteAvis(element)" color="warn"><mat-icon>delete</mat-icon></button>
        </td>
	  </div>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            {{element.Description}}
          </div>
        </div>
      </td>
    </ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>
</div>

<app-gestion-avis *ngIf="manageAvis" [typeForm]="typeForm" [avis]="selectedAvis" (editedAvis)="onManageAvis($event)"></app-gestion-avis>