<h2>Applications</h2>
<div class="btn-refresh"><button matIcon title="Rafraichit la page" class="" (click)="refreshListeApps()">
    <mat-icon>refresh</mat-icon>
  </button></div>
<div class="btn-add"><button matIcon title="Ajoute une nouvelle application" class="" (click)="addApp()">
    <mat-icon>add</mat-icon>
  </button></div>
<div class="liste-apps">
  <mat-grid-list [cols]="4" gutterSize="5">
    <mat-grid-tile *ngFor="let a of listeApps">
      <div [class.selected]="a === selectedApp">
        <div class="un-bloc">
          <span class="une-app" (click)="selectApp(a)">
            <img class="icone-app" src="{{a.icone}}">
            <p class="nom-app">{{a.nom}}</p>
            <p class="corp-app">{{a.corp}}</p>
            <app-stars class="note-app" [nb]="a.note"></app-stars>
          </span>
          <button matIcon title="édite l'application" class="btn-update-app" (click)="editApp(a)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button matIcon title="détruit l'application" class="btn-delete-app" (click)="deleteApp(a)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
	</mat-grid-tile>
  </mat-grid-list>
</div>

<app-info-app *ngIf="displayApp" [app]="selectedApp"></app-info-app>
<app-gestion-app *ngIf="manageApp" [typeForm]="typeForm" [app]="selectedApp" (editedApp)="onManageApp($event)"></app-gestion-app>