.liste-apps {}

.un_bloc {
    box-sizing: content-box;
    display: table;
    float: none;
    position: static;
    width: 170px;
}
.une-app {
    box-sizing: content-box;
    display: table-row;
    float: none;
    position: static;
    cursor: pointer;
    border: solid 1px rgb(51, 51, 51);
    margin: 5px auto;
    background-color: rgb(236, 231, 231);
    width: 160px;
}

.icone-app {
    display: table-row;
    height: 128px;
    width: 128px;
    background-size: contain;
    margin: 10px 20px;
}

.nom-app {
    text-align: left;
    font-size: 16px;
    margin: 10px;
}

.corp-app {
    text-align: left;
    font-size: 13px;
    margin: 10px;
}
.note-app {
    text-align: left;
    font-size: 13px;
    margin: 10px;
}

.btn-update-app {
    transform:scale(0.7);
    display: table-row;
}
.btn-update-app:hover {
}

.btn-delete-app {
    transform:scale(0.7);
    display: table-row;
}
