<div *ngIf="app">
    <h1>Formulaire {{typeForm}}</h1>

    <div class="formulaire">
        <form [formGroup]="formulaire" (ngSubmit)="validateForm()">
            <input class="invisible" formControlName="id" placeholder="id" required/>
            <mat-form-field>
                <input matInput formControlName="nom" placeholder="nom" required />
                <mat-error *ngIf="nom.invalid && nom.errors?.required">Ceci ne doit pas être vide</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="corp" placeholder="développeur" required />
                <mat-error *ngIf="corp.invalid && corp.errors?.required">Ceci ne doit pas être vide</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="categorie" placeholder="catégorie" required />
                <mat-error *ngIf="categorie.invalid && categorie.errors?.required">Ceci ne doit pas être vide</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="note" placeholder="note" required />
                <mat-error *ngIf="note.invalid && (note.errors?.min || note.errors?.max)">Ceci doit être compris entre 0 et 5</mat-error>
                <mat-error *ngIf="note.errors?.required">Ceci ne doit pas être vide</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="icone" placeholder="url" required />
                <mat-error *ngIf="icone.invalid && icone.errors?.required">Ceci ne doit pas être vide</mat-error>
                <mat-error *ngIf="icone.errors?.pattern">Ceci doit être une URL</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="description" placeholder="description" required />
                <mat-error *ngIf="description.invalid && description.errors?.required">Ceci ne doit pas être vide
                </mat-error>
            </mat-form-field>

            <h3>Screenshots</h3>
            <div formArrayName="screenshots">
                <div *ngFor="let p of screenshots.controls, let i=index">
                    <mat-form-field>
                        <input matInput [formControlName]="i" placeholder="url" required />
                        <mat-error *ngIf="p.invalid && p.errors?.required">Ceci ne doit pas être vide</mat-error>
                    </mat-form-field>
                </div>
                <button (click)="addScreenshot()" mat-raised-button color="primary">Ajouter un screenshot</button>
            </div>
            <button type="submit" [disabled]="!formulaire.valid">Validation</button>
        </form>
    </div>
    <p>Form Value: {{ formulaire.value | json }}</p>
    <p>Form Status: {{ formulaire.status }}</p>
</div>